<div class="header-top header-top-default header-top-borders border-bottom-0 bg-color-light">
  <div class="container h-100">
    <div class="header-row h-100">
      <div class="header-column justify-content-between">
        <div class="header-row">
          <nav class="header-nav-top w-100">
            <ul class="nav nav-pills justify-content-between w-100 h-100">
              <li class="nav-item py-2 d-inline-flex">
													<span class="header-top-phone py-2 d-flex align-items-center text-color-secondary font-weight-semibold text-uppercase">
														<span>
															<img width="15" height="18" src="../../../../img/demos/business-consulting-2/icons/phone.svg" alt="Phone">
														</span>
														<a class="text-color-secondary text-color-hover-primary text-decoration-none" href="tel:123-456-7890">(800) 123-4567</a>
													</span>
                <span class="header-top-email px-0 font-weight-normal align-items-center d-none d-xl-flex">
														<span>
															<img width="25" height="18" src="../../../../img/demos/business-consulting-2/icons/mail.svg" alt="Mail">
														</span>
														<a class="text-color-secondary text-color-hover-primary text-decoration-none" href="mailto:business@portotheme.com">business@portotheme.com</a>
													</span>
                <span class="header-top-opening-hours px-0 font-weight-normal align-items-center text-color-secondary d-none d-xl-flex">
														<span>
															<img width="19" height="18" src="../../../../img/demos/business-consulting-2/icons/calendar.svg" alt="Calendar">
														</span>
														Mon - Sat 9:00am - 6:00pm / Sunday - CLOSED
													</span>
              </li>
              <li class="nav-item nav-item-header-top-socials d-none d-md-flex justify-content-between h-100">
													<span class="header-top-button-make-as-appoitment d-inline-flex align-items-center justify-content-center h-100 p-0 align-top">
														<a href="demo-business-consulting-2-contact-us.html" class="btn-primary d-flex align-items-center justify-content-center h-100 w-100 text-color-light font-weight-semibold text-decoration-none text-uppercase custom-button-header-top">free initial consultation</a>
													</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
