<section class="page-header page-header-modern custom-page-header bg-color-quaternary">
  <div class="container">
    <div class="row">
      <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
        <h1 class="font-weight-bold text-9 text-color-secondary animated" animateOnScroll animationName="fadeInRightShorter" data-appear-animation-delay="100">About Us</h1>
      </div>
      <div class="col-md-4 order-1 order-md-2 align-self-center">
        <ul class="breadcrumb d-block text-md-right animated appear-animation fadeInLeftShorter" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
          <li><a routerLink="/">Home</a></li>
          <li class="active">About Us</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="container py-5">
  <div class="row align-items-center">
    <div class="col">
      <p class="text-4 line-height-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci semr vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p class="m-0 p-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci.</p>
      <ul class="list list-icons list-primary mt-4">
        <li class="animated fadeInUp appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fas fa-check"></i> Fusce sit amet orci quis arcu vestibulum.</li>
        <li class="animated fadeInUp appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300"><i class="fas fa-check"></i> Fusce sit amet orci quis arcu vestibulum stibulum.</li>
        <li class="animated fadeInUp appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fas fa-check"></i> Fusce sit amet orci q vestibulum vestibulum.</li>
      </ul>
      <div class="d-flex align-items-center justify-content-start pt-4 animated fadeIn appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
        <div class="circular-bar custom-circular-bar m-0">
          <div class="circular-bar-chart" data-percent="89" data-plugin-options="{'barColor': '#e8465f'}">
            <strong class="text-5 text-color-tertiary">89%</strong>
          </div>
        </div>
        <h4 class="font-weight-bolder text-color-tertiary m-0 ml-3">Successful cases<br/>in 15 years.</h4>
      </div>
    </div>
    <div class="col-lg-6 pt-4 pt-lg-0">
      <div class="card border-radius-0 box-shadow-1 border-0 mt-4 mt-lg-0 ml-lg-3 p-3 mb-3 mb-lg-0">
        <img src="img/demos/business-consulting-2/bg/bg-2.jpg" class="img-fluid border-radius-0" alt="">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row py-3 mt-2">

    <div class="col-lg-6 p-0">
      <section class="section section-height-3 bg-color-primary-darken-1 h-100 m-0 border-0">
        <div class="row justify-content-end m-0">
          <div class="col-half-section col-half-section-right text-color-light">
            <p class="text-uppercase font-weight-semibold mb-1 text-color-light animated fadeInRightShorter appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-secondary ml-0 mr-3 appear-animation animated fadeInRightShorter" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200"></span>Reliable Services</p>
            <h2 class="text-color-light font-weight-bolder text-capitalize mb-1 letter-spacing-08 font-size-32 animated fadeInRightShorter appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">Budget Friendly</h2>
            <span class="opacity-7 d-block">
											<p class="text-color-light pt-3 mb-0 appear-animation animated fadeInRightShorter" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
										</span>
          </div>
        </div>
      </section>
    </div>

    <div class="col-lg-6 p-0">
      <section class="section section-height-3 bg-color-primary h-100 m-0 border-0">
        <div class="row m-0">
          <div class="col-half-section text-color-light text-right">
            <p class="text-uppercase font-weight-semibold mb-1 text-color-light animated" animateOnScroll animationName="fadeInLeftShorter" data-appear-animation-delay="100">coaching and consulting<span class="line-pre-title mr-0 ml-3 bg-color-secondary animated fadeInLeftShorter appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200"></span></p>
            <h2 class="text-color-light font-weight-bolder text-capitalize mb-1 letter-spacing-08 font-size-32 animated" animateOnScroll animationName="fadeInLeftShorter" data-appear-animation-delay="200">Experienced Team</h2>
            <span class="opacity-7 d-block">
											<p class="text-color-light pt-3 mb-0 animated fadeInLeftShorter appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
										</span>
          </div>
        </div>
      </section>
    </div>

  </div>
</div>

<div class="container py-5 mb-3">
  <div class="row align-items-center">
    <div class="col-lg-5 pt-3 pt-lg-0 pb-4 pb-lg-0">
      <div class="card border-radius-0 box-shadow-1 border-0 mr-lg-3 p-3 mb-3 mb-lg-0">
        <img src="img/demos/business-consulting-2/bg/bg-1.jpg" class="img-fluid border-radius-0" alt="">
      </div>
    </div>
    <div class="col-lg-7">
      <p class="text-4 line-height-9 animated fadeIn appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci semr vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p class="m-0 p-0 animated fadeIn appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci semr vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="counters custom-counters mt-5 d-flex">
        <div class="counter counter-primary animated fadeInUpShorter appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
          <strong data-to="240" data-append="+">0</strong>
          <label class="text-color-primary font-weight-bolder">Satisfied Clients</label>
        </div>
        <div class="counter counter-primary fadeInUpShorter animated appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
          <strong data-to="2000" data-append="+">0</strong>
          <label class="text-color-primary font-weight-bolder">Successfull Cases</label>
        </div>
      </div>
    </div>
  </div>
</div>
