<owl-carousel id="owl-demo" [options]="{navigation : true, slideSpeed : 300, paginationSpeed : 400, items : 1, itemsDesktop : false,itemsDesktopSmall: false, itemsTablet: false, itemsMobile: false}">

  <div class="item"><img src="https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="The Last of us"></div>
  <div class="item"><img src="https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="GTA V"></div>
  <div class="item"><img src="https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Mirror Edge"></div>

</owl-carousel>
<section class="bg-color-light p-relative z-index-2">
  <div class="cards custom-cards custom-cards-slider h-auto pt-5 pb-4 container hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="100">
    <div class="row bg-color-light cards-container d-flex justify-content-center justify-content-xl-between w-100 mb-5 mx-0 box-shadow-1 p-relative top-0">
      <div class="col-sm-12 col-md-6 col-xl-4 bg-light p-0 shadow-none">
        <div class="card border-radius-0 border-0 shadow-none">
          <div class="card-body d-flex align-items-center justify-content-between flex-column z-index-1">
            <img src="img/demos/business-consulting-2/icons/strategic.png" alt="Strategic Planning" class="hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="100">
            <h4 class="card-title mb-1 font-weight-semibold text-color-secondary hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="200">Strategic Planning</h4>
            <p class="card-text text-center pt-2 hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra erat orci, ac auctor lacus tincidunt ut...</p>
            <a href="#" class="font-weight-bolder text-uppercase text-decoration-none mt-3 hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="400">read more +</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-4 bg-light p-0 shadow-none">
        <div class="card border-radius-0 border-0 shadow-none">
          <div class="card-body d-flex align-items-center justify-content-between flex-column z-index-1">
            <img src="img/demos/business-consulting-2/icons/financial.png" alt="Financial Clean-Up" class="hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="500">
            <h4 class="card-title mb-1 font-weight-semibold text-color-secondary hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="600">Financial Clean-Up</h4>
            <p class="card-text text-center pt-2 hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra erat orci, ac auctor lacus tincidunt ut...</p>
            <a href="#" class="font-weight-bolder text-uppercase text-decoration-none mt-3 hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="800">read more +</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-4 bg-light p-0 shadow-none">
        <div class="card border-radius-0 border-0 shadow-none">
          <div class="card-body d-flex align-items-center justify-content-between flex-column z-index-1 border-right-0">
            <img src="img/demos/business-consulting-2/icons/cash.png" alt="Cash Flow Planning" class="hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="900">
            <h4 class="card-title mb-1 font-weight-semibold text-color-secondary hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="1000">Cash Flow Planning</h4>
            <p class="card-text text-center pt-2 hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="1100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra erat orci, ac auctor lacus tincidunt ut...</p>
            <a href="#" class="font-weight-bolder text-uppercase text-decoration-none mt-3 hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="1200">read more +</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-services d-flex p-relative z-index-1 bg-color-light" data-plugin-lazyload data-plugin-options="{'threshold': 300, 'effect':'fadeIn'}" data-original="img/demos/business-consulting-2/bg/bg-1.jpg">
  <div class="col-img-our-services p-absolute overflow-hidden w-50 h-100"></div>
  <div class="container">
    <div class="row justify-content-end align-items-center h-100">
      <div class="col-lg-5 position-relative bg-color-light z-index-1 col-our-services-text">
        <p class="text-uppercase font-weight-semibold mb-1 text-color-primary hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-primary"></span>our services</p>
        <h2 class="text-color-secondary font-weight-bolder text-capitalize mb-4 hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="200">What We Do?</h2>
        <p class="font-weight-semibold mb-4 hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut.</p>
        <p class="mb-4 pb-2 hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="400">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet.</p>
        <div class="accordion accordion-sm hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="500" id="accordionServices">
          <div class="border-radius mb-1 border-0 card-accordion-our-services-container">
            <div class="card-header py-2 bg-color-quaternary">
              <h4 class="card-title m-0">
                <a class="accordion-toggle text-color-tertiary font-weight-semibold" data-toggle="collapse" data-parent="#accordionServices" href="#collapse3One">
                  Management Consulting
                </a>
              </h4>
            </div>
            <div id="collapse3One" class="collapse card-accordion-our-services show">
              <div class="card-body">
                <p class="mb-0">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                <a href="demo-business-consulting-2-services.html" class="font-weight-bolder text-uppercase text-decoration-none d-block mt-3">read more +</a>
              </div>
            </div>
          </div>
          <div class="border-radius mb-1 border-0 card-accordion-our-services-container">
            <div class="card-header py-2 bg-color-quaternary">
              <h4 class="card-title m-0">
                <a class="accordion-toggle text-color-tertiary font-weight-semibold" data-toggle="collapse" data-parent="#accordionServices" href="#collapse3Two">
                  Business Coaching
                </a>
              </h4>
            </div>
            <div id="collapse3Two" class="collapse card-accordion-our-services">
              <div class="card-body">
                <p class="mb-0">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                <a href="demo-business-consulting-2-services.html" class="font-weight-bolder text-uppercase text-decoration-none d-block mt-3">read more +</a>
              </div>
            </div>
          </div>
          <div class="border-radius mb-1 border-0 card-accordion-our-services-container">
            <div class="card-header py-2 bg-color-quaternary">
              <h4 class="card-title m-0">
                <a class="accordion-toggle text-color-tertiary font-weight-semibold" data-toggle="collapse" data-parent="#accordionServices" href="#collapse3Three">
                  Performance Consulting and Coaching
                </a>
              </h4>
            </div>
            <div id="collapse3Three" class="collapse card-accordion-our-services">
              <div class="card-body">
                <p class="mb-0">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                <a href="demo-business-consulting-2-services.html" class="font-weight-bolder text-uppercase text-decoration-none d-block mt-3">read more +</a>
              </div>
            </div>
          </div>
          <div class="border-radius mb-1 border-0 card-accordion-our-services-container">
            <div class="card-header py-2 bg-color-quaternary">
              <h4 class="card-title m-0">
                <a class="accordion-toggle text-color-tertiary font-weight-semibold" data-toggle="collapse" data-parent="#accordionServices" href="#collapse3Four">
                  Strategy and Marketing
                </a>
              </h4>
            </div>
            <div id="collapse3Four" class="collapse card-accordion-our-services">
              <div class="card-body">
                <p class="mb-0">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                <a href="demo-business-consulting-2-services.html" class="font-weight-bolder text-uppercase text-decoration-none d-block mt-3">read more +</a>
              </div>
            </div>
          </div>
          <div class="border-radius mb-1 border-0 card-accordion-our-services-container">
            <div class="card-header py-2 bg-color-quaternary">
              <h4 class="card-title m-0">
                <a class="accordion-toggle text-color-tertiary font-weight-semibold" data-toggle="collapse" data-parent="#accordionServices" href="#collapse3Five">
                  Service Benchmarking
                </a>
              </h4>
            </div>
            <div id="collapse3Five" class="collapse card-accordion-our-services">
              <div class="card-body">
                <p class="mb-0">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                <a href="demo-business-consulting-2-services.html" class="font-weight-bolder text-uppercase text-decoration-none d-block mt-3">read more +</a>
              </div>
            </div>
          </div>
        </div>

        <a href="demo-business-consulting-2-services.html" class="btn btn-primary custom-btn text-center text-uppercase text-decoration-none border-0 py-0 px-5 font-weight-semibold mt-4 hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="600">FIND OUT MORE</a>
      </div>
    </div>
  </div>
</section>

<section class="coaching-consulting d-flex p-relative bg-color-light pt-3 pb-3 pt-lg-5 pb-lg-4">
  <div class="container">
    <div class="row justify-content-end py-5">
      <div class="col-lg-6">
        <p class="text-uppercase font-weight-semibold mb-1 text-color-primary hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-primary"></span>coaching and consulting</p>
        <h2 class="text-color-secondary font-weight-bolder text-capitalize mb-4 custom-letter-spacing-2 custom-text-1 hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="200">Experienced Team</h2>
        <p class="font-weight-semibold mb-4 hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
        <p class="mb-4 pb-2 hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="400">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
        <div class="d-flex align-items-center justify-content-start hide-on-init" animateOnScroll animationName="animated fadeIn" data-appear-animation-delay="600">
          <div class="circular-bar custom-circular-bar m-0">
            <div class="circular-bar-chart" data-percent="89" data-plugin-options="{'barColor': '#e8465f'}">
              <strong class="text-5 text-color-tertiary">89%</strong>
            </div>
          </div>
          <h4 class="font-weight-bolder text-color-tertiary m-0 ml-3">Successful cases<br/>in 15 years.</h4>
        </div>
      </div>
      <div class="col-lg-6 col-coaching-consulting-imgs p-relative">
        <div class="card border-radius-0 box-shadow-1 border-0 p-3 hide-on-init" animateOnScroll animationName="animated fadeIn" data-appear-animation-delay="300">
          <img src="img/demos/business-consulting-2/coaching/coaching-1.jpg" class="img-fluid border-radius-0" alt="">
        </div>
        <div class="card border-radius-0 box-shadow-1 border-0 p-3 hide-on-init" animateOnScroll animationName="animated fadeIn" data-appear-animation-delay="300">
          <img src="img/demos/business-consulting-2/coaching/coaching-2.jpg" class="img-fluid border-radius-0" alt="">
        </div>
        <div class="card border-radius-0 box-shadow-1 border-0 p-3 hide-on-init" animateOnScroll animationName="animated fadeIn" data-appear-animation-delay="300">
          <img src="img/demos/business-consulting-2/coaching/coaching-3.jpg" class="img-fluid border-radius-0" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="real-word-stories bg-color-quaternary overflow-hidden p-relative pb-4">
  <div class="container py-xl-5">
    <div class="row justify-content-between align-items-center pt-5 py-xl-5 mt-3">
      <div class="col-xl-6 mb-5 pb-5 mb-xl-0 pb-xl-0">
        <div data-appear-animation-delay="100">
          <owl-carousel class="m-0" [options]="{items: 1, autoplay: false, animateOut: 'fadeOut', autoHeight: true}">
            <div class="item custom-testimonial-container bg-color-light">
              <div class="testimonial custom-testimonial testimonial-style-2 mb-0">
                <div class="d-none d-sm-flex align-items-center justify-content-center custom-testimonial-right bg-color-light p-absolute z-index-1">
                  <img src="img/demos/business-consulting-2/logos/case-logo-1.png" alt="Bullseye">
                  <a href="demo-business-consulting-2-cases-detail.html" class="d-block btn btn-primary custom-button-testimonial-right text-center text-uppercase text-decoration-none border-0 p-0 font-weight-semibold p-absolute">read more</a>
                </div>
                <blockquote class="px-0 pb-5">
                  <h4 class="text-color-secondary font-weight-bolder text-left">Bullseye Case</h4>
                  <p class="mb-0 text-left text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti.<a href="demo-business-consulting-2-cases-detail.html" class="font-weight-bolder text-uppercase text-decoration-none d-block d-sm-none mt-3">read more +</a></p>
                </blockquote>
                <div class="testimonial-arrow-down"></div>
                <div class="testimonial-author d-flex flex-row justify-content-start align-items-center">
                  <img src="img/avatars/avatar-3.jpg" class="img-fluid rounded-circle m-0 mr-3" alt="">
                  <p><strong class="font-weight-extra-bold text-left text-color-secondary mb-1">John Smith</strong><span class="text-uppercase text-left">Manager</span></p>
                </div>
              </div>
            </div>
            <div class="item custom-testimonial-container bg-color-light">
              <div class="testimonial custom-testimonial testimonial-style-2 mb-0">
                <div class="d-none d-sm-flex align-items-center justify-content-center custom-testimonial-right bg-color-light p-absolute z-index-1">
                  <img src="img/demos/business-consulting-2/logos/case-logo-2.png" alt="Bullseye">
                  <a href="demo-business-consulting-2-cases-detail.html" class="d-block btn btn-primary custom-button-testimonial-right text-center text-uppercase text-decoration-none border-0 p-0 font-weight-semibold p-absolute">read more</a>
                </div>
                <blockquote class="px-0 pb-5">
                  <h4 class="text-color-secondary font-weight-bolder text-left">Wall Paint Shop Case</h4>
                  <p class="mb-0 text-left text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget porta, tincidunt turpis at, interdum tortor. Suspendisse potenti.</p>
                </blockquote>
                <div class="testimonial-arrow-down"></div>
                <div class="testimonial-author d-flex flex-row justify-content-start align-items-center">
                  <img src="img/avatars/avatar-2.jpg" class="img-fluid rounded-circle m-0 mr-3" alt="">
                  <p><strong class="font-weight-extra-bold text-left text-color-secondary mb-1">John Doe</strong><span class="text-uppercase text-left">Manager</span></p>
                </div>
              </div>
            </div>
            <div class="div custom-testimonial-container bg-color-light">
              <div class="testimonial custom-testimonial testimonial-style-2 mb-0">
                <div class="d-none d-sm-flex align-items-center justify-content-center custom-testimonial-right bg-color-light p-absolute z-index-1">
                  <img src="img/demos/business-consulting-2/logos/case-logo-3.png" alt="Bullseye">
                  <a href="demo-business-consulting-2-cases-detail.html" class="d-block btn btn-primary custom-button-testimonial-right text-center text-uppercase text-decoration-none border-0 p-0 font-weight-semibold p-absolute">read more</a>
                </div>
                <blockquote class="px-0 pb-5">
                  <h4 class="text-color-secondary font-weight-bolder text-left">Go Gold Golden Case</h4>
                  <p class="mb-0 text-left text-3">Lorem ipsum dolor sit amet, adipiscing elit. Sed eget porta, tincidunt turpis at, interdum tortor. Suspendisse potenti.</p>
                </blockquote>
                <div class="testimonial-arrow-down"></div>
                <div class="testimonial-author d-flex flex-row justify-content-start align-items-center">
                  <img src="img/avatars/avatar-4.jpg" class="img-fluid rounded-circle m-0 mr-3" alt="">
                  <p><strong class="font-weight-extra-bold text-left text-color-secondary mb-1">Bob Smith</strong><span class="text-uppercase text-left">Manager</span></p>
                </div>
              </div>
            </div>
          </owl-carousel>
        </div>
      </div>
      <div class="col-xl-5 mb-5 mb-xl-0">
        <p class="text-uppercase font-weight-semibold mb-1 text-color-primary hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="300"><span class="line-pre-title bg-color-primary"></span>real world stories</p>
        <h2 class="text-color-secondary font-weight-bolder text-capitalize mb-4 custom-letter-spacing-2 custom-text-1 hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="400">Sucessful Cases</h2>
        <p class="font-weight-semibold mb-4 hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elit sit amet leo accumsan volutpat.</p>
        <p class="mb-4 pb-2 hide-on-init" animateOnScroll animationName="animated fadeInRightShorter" data-appear-animation-delay="600">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
        <div class="counters custom-counters d-flex">
          <div class="counter counter-primary hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="1000">
            <strong counto [countTo]="'10'" [countFrom]="'0'" [step]="'400'" [duration]="'2'" (countoChange)="counto = $event">{{counto | number: '1.0-0'}}</strong>
            <label class="text-color-primary font-weight-bolder">Satisfied Clients</label>
          </div>
          <div class="counter counter-primary hide-on-init" animateOnScroll animationName="animated fadeInUpShorter" data-appear-animation-delay="1200">
            <strong counto [countTo]="'10'" [countFrom]="'0'" [step]="'400'" [duration]="'2'" (countoChange)="count_2 = $event">{{count_2 | number:'1.0-0'}}</strong>
            <label class="text-color-primary font-weight-bolder">Successful Cases</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


